version: '3.8'
services:
  jenkins:
    build: .  
    image: dockerfile_env
   #privileged: true
    user: root
    ports:
    - 8080:8080
    container_name: jenkins-env
    volumes:
      - ./volumes/jenkins:/var/jenkins_home:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
    networks:
      - kurs_devops_default
  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube-env
    ports:
      - "9000:9000"
    volumes:
      - ./volumes/sonar/sonarqube_data:/opt/sonarqube/data
      - ./volumes/sonar/sonarqube_extensions:/opt/sonarqube/extensions
      - ./volumes/sonar/sonarqube_logs:/opt/sonarqube/logs
    networks:
      - kurs_devops_default
  selenium:
    image: selenium/hub
    container_name: selenium-env
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    networks:
      - kurs_devops_default
  firefox:
    image: selenium/node-firefox
    container_name: firefix_env
    depends_on: 
      - selenium
    environment:
      - SE_EVENT_BUS_HOST=selenium-env
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    networks:
      - kurs_devops_default


networks:
  kurs_devops_default:
    driver: bridge